@model KinoOpolwood.Models.Seans

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Seans</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Film.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Film.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sala.SalaId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sala.SalaId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SeansId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
